@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
  --color-lazuli-t: #00000000;
  --color-lazuli-950: #000000;
  --color-lazuli-900: #0d0d0d;
  --color-lazuli-800: #0c1821;
  --color-lazuli-600: #205782;
  --color-lazuli-400: #8fcbd9;
  --color-lazuli-200: #c4eef2;

  --color-turquoise-500: #1f788c;
  --color-turquoise-400: #379ba6;

  --color-mint-500: #4f959d;
  --color-mint-200: #98d2c0;

  --color-sunflower-200: #f6f8d5;

  --font-fira: 'Fira Code', monospace;

  --inset-shadow-arrow: 10px 10px 0px #c4eef2;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 140rem;

  --overflow-x: hidden;
}

body {
  background-color: rgb(9, 13, 20);
}